<style>
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: darkgrey;
  }
</style>


<div style="height:100%; display: flex; flex-flow: column;">

  <div style="min-height: 150px; text-align: center;">
    <h1>Quizzle</h1>
  </div>
  
  <router-outlet></router-outlet>

  <div style="text-align: center;">
    <p>
      <a href="https://youtube.com"><span tabindex="0">Yutub!</span></a>
    </p>
  </div>
  
</div>

