<div style="width:100%; display: flex; justify-content: center; text-align: center;">
  <div style="min-height: 150px; text-align: center;">
    <app-hiscore></app-hiscore>
    <app-landing-menu></app-landing-menu>
  </div>
</div>