<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
      <h:head>

      </h:head>
      <h:body>
            <ui:composition template="/templates/template.xhtml">
                  <ui:define name="content">
                        <h:form>

                              <h:outputText
                                    value="Welcome to Quizzl, where you can take quizzes and also create your own." />
                              <br />
                              <p:commandButton action="selectQuiz" value="Take a quiz right away without login"
                                    icon="pi pi-play" iconPos="right" />
                              <br />
                              <p:commandButton value="Sign-in" icon="pi pi-sign-in" iconPos="right" />
                              <br />
                              <p:commandLink id="signup" style="margin-right:20px;">
                                    <h:outputText value="Sign-up" />
                              </p:commandLink>
                        </h:form>

                  </ui:define>
            </ui:composition>
      </h:body>
</f:view>

</html>