<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
      <h:head>

      </h:head>
      <h:body>
            <ui:composition template="/templates/template.xhtml">
                  <ui:define name="content">
                        <h:form>
                              <span class="ui-float-label">
                                    <p:inputText id="namebox" value="#{selectQuizBean.userName}" required="true"
                                          requiredMessage="Name is missing" style="padding: 20px" />
                                    <p:outputLabel for="@previous" value="Username" />
                              </span>
                              <p:outputLabel for="quizSelection" value="Please select the quiz you want to take" />
                              <br />
                              <p:selectOneListbox id="quizSelection" value="#{selectQuizBean.currentSelection}" var="e"
                                    filter="true" filterMatchMode="contains" required="true"
                                    requiredMessage="No quiz selected" validator="#{selectQuizBean.validateQuizSelection}">
                                    <f:converter converterId="quizConverter" />
                                    <f:selectItems value="#{selectQuizBean.quizzes}" var="blabla" itemValue="#{blabla}"
                                          itemLabel="#{blabla.name}" />
                                    <p:column>
                                          <h:outputText value="#{e.name}" />
                                    </p:column>
                                    <p:column>
                                          <h:outputText value="#{e.description}" />
                                    </p:column>
                              </p:selectOneListbox>

                              <h5 class="p-mt-0">Difficulty</h5>
                              <p:selectOneRadio id="difficulty" value="#{selectQuizBean.difficulty}" unselectable="true">
                                  <f:selectItem itemLabel="Easy" itemValue="0"/>
                                  <f:selectItem itemLabel="Intermediate" itemValue="1"/>
                                  <f:selectItem itemLabel="Hard" itemValue="2"/>
                              </p:selectOneRadio>

                              <h:panelGrid columns="1" style="margin-bottom: 10px">
                                    <h:outputText id="output" value="Size %#{selectQuizBean.sizePercent}" />
                                    <h:inputHidden id="txt2" value="#{selectQuizBean.size}" />
                                    <p:slider for="txt2" display="output" style="width: 200px"
                                          displayTemplate="Size %{value}" />
                              </h:panelGrid>

                              <p:message for="namebox" />
                              <br />
                              <p:message for="quizSelection" />
                              <p:messages>
                                    <p:autoUpdate />
                              </p:messages>
                              <p:commandButton action="#{selectQuizBean.select}" value="GO" icon="pi pi-play" iconPos="right" />
                              </h:form>
                  </ui:define>
            </ui:composition>
      </h:body>
</f:view>

</html>