<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:jsf="http://xmlns.jcp.org/jsf"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
    <h:head>

    </h:head>
    <h:body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="content">
                <h:form>
                    <p:commandButton value="PREVIOUS" action="#{takeQuizBean.previous()}" icon="pi pi-step-backward" iconPos="left" >
                    </p:commandButton>
                    TODO: progress-pearls
                    <p:commandButton value="NEXT" action="#{takeQuizBean.next()}" icon="pi pi-step-forward" iconPos="right" >
                    </p:commandButton>

                    <br />
                    <h:outputText value="#{takeQuizBean.currentQuestionText}" id="currentQuestionText" />

                    <br />

                    <p:selectManyMenu id="multiplechoice" value="#{takeQuizBean.selectedAsCorrect}" var="e" showCheckbox="true" converterId="mciFacesConverter">
                        <p:column>
                            <h:outputText value="#{e.text}" />
                        </p:column>
                        <f:selectItems value="#{takeQuizBean.getAnswers()}" />
                    </p:selectManyMenu>

                    <br />
                    <p:commandButton value="Give up" onclick="PF('rusureDialog').show();" icon="pi pi-undo" iconPos="left" />
                    <p:commandButton value="Finito" action="#{takeQuizBean.finito()}" icon="pi pi-check" iconPos="right" />
                    <p:commandButton value="Comment" icon="pi pi-comment" iconPos="right" />
                </h:form>

                <p:dialog widgetVar="rusureDialog" closeable="true">
                    <h:outputText value="Are you sure to give up?" />
                    <br />
                    <h:outputText value="All progress will be lost." />
                    <br />
                    <p:commandButton value="Give up" action="giveUp()" />
                </p:dialog>

            </ui:define>
        </ui:composition>
    </h:body>
</f:view>

</html>