<div style="display: flex; flex-flow: column; background-color: aliceblue;">
  <input type="button" value="Take a Quiz right away" (click)="take()" style="width:200px;">
  <input type="button" value="Login" (click)="logIn()" style="width:200px;">
  <a [routerLink]="['account/register']" style="width:200px;">Register</a>
</div>
