<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>Quizzle</title>
    </h:head>
    <h:body>
        <center>
            <div style="height: 90%">
                <div style="border-width: 1px; border-style: solid; height: 25%">
                    <ui:insert name="header">
                        <ui:include src="/templates/header.xhtml"></ui:include>
                    </ui:insert>
                </div>
                <div style="border-width: 1px; border-style: solid; height: 50%; padding: 0% 20%">
                    <ui:insert name="content">
                    </ui:insert>
                </div>
                <div style="border-width: 1px; border-style: solid; height: 25%">
                    <ui:insert name="footer">
                        <ui:include src="/templates/footer.xhtml"></ui:include>
                    </ui:insert>
                </div>
            </div>
        </center>
    </h:body>
</html>